<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <header>
       <span class="logo"> We learn ASP</span>
       <a href="/"> Главная </a>
       <a href="/contacts"> Обратная связь </a>
   </header>
    <main>
        @RenderBody()
    </main>    
    <footer>
        <p>
            Копирайты и прочие ненужности
        </p>
    </footer>
</body>
</html>
